<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login - Degree Planner</title>
</head>
<body>
    <h1>Degree Planner Login</h1>

    <div th:if="${param.error}">
        <p style="color:red;">Invalid username or password.</p>
    </div>
    <div th:if="${param.logout}">
        <p style="color:green;">You have been logged out.</p>
    </div>

    <form th:action="@{/login}" method="post">
        <label>Username: <input type="text" name="username"/></label><br/>
        <label>Password: <input type="password" name="password"/></label><br/>
        <button type="submit">Login</button>
    </form>
</body>
</html>